# Node.js dependencies
node_modules/

# Build artifacts
build/
dist/

# Environment variables
.env

# IDE and editor specific files
.vscode/
.idea/

# Log files
*.log

# Dependency lock files
package-lock.json
yarn.lock
